<div class = "container my-4">
  <div class = "row">
    <div class = "col-12">
      <% if @appointment.user == current_user %>
        <h1>Chat with <%= @appointment.fixer.user.first_name %></h1>
      <% else %>
        <h1>Chat with <%= @appointment.user.first_name %></h1>
      <% end %>
      <div>
        <ul>
          <% @messages.each do |message| %>
          <li>
           <% if message.user == current_user %>
           <div class="chat">
            <div class="chat_box sender">
              <%= message.content%>
            </div>
          </div>
          <% else %>
           <div class=chat>
            <div class="chat_box receiver">
              <%= message.content%>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <% end %>
      </div>
      <div>
        <%= simple_form_for [@appointment, @new_message] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :content%>
        </div>

        <div class="form-actions text-center">
          <%= f.submit "Send", class: 'btn btn-lg send'%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
