<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <% if @appointment.user == current_user %>
        <h2>Chat with <%= @appointment.fixer.user.first_name %></h2>
      <% else %>
        <h2>Chat with <%= @appointment.user.first_name %></h2>
      <% end %>
    </div>
    <div class="col-12 chat-box">
      <div id="messages">
        <%= render 'messages/list', messages: @messages %>
      </div>
    </div>
    <div class="col-12">
      <%= render 'messages/form', appointment: @appointment, new_message: @new_message %>
    </div>
  </div>
</div>


<%= link_to "Refresh", appointment_messages_path(@appointment), remote: true, id: "refresh", class: "d-none" %>
