<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2>My Appointments</h2>
    </div>
    <div class="col-12 mt-2">
      <ul class="list-inline tabs-underlined">
        <li>
          <p class="tab-underlined active">Upcoming</p>
        </li>
        <li>
          <p class="tab-underlined">Past</p>
        </li>
      </ul>
    </div>
    <div class="col-12" id="upcoming">
      <table>
        <% @upcoming_appointments.each do |appointment| %>
          <tr>
            <td>
              <a href=<%= appointment_path(appointment) %>>
                <p style="font-size: 16px;"><%= appointment.problem.category.name %> - <%= appointment.fixer.user.first_name %><br>
                  <span style="opacity: 0.7;"><em><%= appointment.time.day %>/<% if appointment.time.month <= 9 %>0<%= appointment.time.month %><% else %><%= appointment.time.month %><% end %>/<%= appointment.time.year %> <%= appointment.time.hour %>:<% if appointment.time.min <= 9 %>0<%= appointment.time.min %><% else %><%= appointment.time.min %><% end %></em></span>
                </p>
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-12" id="past" style="display: none;">
      <table>
        <% @past_appointments.each do |appointment| %>
          <tr>
            <td class="d-flex justify-content-between">
              <a href=<%= appointment_path(appointment) %>>
                <p style="font-size: 16px;"><%= appointment.problem.category.name %> - <%= appointment.fixer.user.first_name %><br>
                  <span style="opacity: 0.7;"><em><%= appointment.time.day %>/<% if appointment.time.month <= 9 %>0<%= appointment.time.month %><% else %><%= appointment.time.month %><% end %>/<%= appointment.time.year %> <%= appointment.time.hour %>:<% if appointment.time.min <= 9 %>0<%= appointment.time.min %><% else %><%= appointment.time.min %><% end %></em></span>
                </p>
              </a>
              <% if @user == current_user %>
                <% if appointment.reviews.any? %>
                <% else %>
                  <%= link_to '', data: { toggle: "modal", target: "#reviewModal-#{appointment.id}" } do %> <button class="btn btn-ghost" id="review-<%= appointment.id %>" style="font-size: 12px; margin: 6px 12px;">Write<br>review</button> <% end %>
                  <div class="modal fade" id="reviewModal-<%= appointment.id %>" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
                    <%= render 'reviews/form', appointment: appointment, review: @review %>
                  </div>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  const tabs = document.querySelectorAll('.tab-underlined');
  console.log(tabs);
  const upcoming = document.getElementById('upcoming');
  const past = document.getElementById('past');
  tabs.forEach( tab =>
    tab.addEventListener("click", (event) => {
      const active = document.querySelector('.active');
      event.currentTarget.classList.toggle('active');
      if (active !== null) {
        active.classList.remove('active');
      }
      if (upcoming.style.display === "none") {
        upcoming.style.display = "block";
      } else {
        upcoming.style.display = "none";
      }
      if (past.style.display === "none") {
        past.style.display = "block";
      } else {
        past.style.display = "none";
      }
    })
  );
</script>
