<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="btn btn-logo" href="/">Fix<span style="font-weight: 800; color: #FACF39;">U</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.lewagon_username}", class: "avatar" %> Welcome <%= current_user.full_name %> <% if current_user.fixer %> <span style="color: #FACF39;">(fixer)</span><% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_user.fixer %>
            <%= link_to "My appointments", fixer_appointments_path(current_user.fixer), class: "nav-link" %>
          <% else %>
            <%= link_to "My appointments", user_path(current_user), class: "nav-link" %>
          <% end %>
        </li>
        <% if current_user.fixer %>
          <li class="nav-item">
          <%= link_to "My details", fixer_details_path(current_user.fixer), class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item">
          <% unless current_user.fixer %>
            <%= link_to "Become a Fixer", new_user_fixer_path(current_user), class: "nav-link" %>
          <% else %>
            <%= link_to "Stop being a fixer", fixer_path(current_user.fixer), method: :delete, data: { confirm: "Are you sure, #{current_user.full_name}?"}, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
