<% content_for(:navbar) do %>
  <%= render "shared/navbar2" %>
<% end %>

<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2>Checkout summary</h2>
      <div style="margin-top: 4rem;">
        <h3>Your fixer: <strong style="color: #04316C;"><%= @appointment.fixer.user.full_name %></strong></h3>
      </div>
      <div style="margin-top: 2rem;">
        <h3>Total amount: <strong style="color: #04316C;"><%= humanized_money_with_symbol @appointment.amount %></strong></h3>
      </div>
      <div style="margin-top: 8rem;">
        <button id="pay" class="btn btn-lg">Proceed to checkout</button>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  const paymentButton = document.getElementById('pay');
  paymentButton.addEventListener('click', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @appointment.checkout_session_id %>'
    });
  });
</script>
