<% content_for(:navbar) do %>
  <%= render "shared/navbar2" %>
<% end %>

<div class="container my-4">
  <div class="row" id="fixer-loader">
    <div class="col-12">
      <h2 class="text-center">Looking for Fixers</h2>
    </div>
    <div class="col-6 offset-3">
      <div class="dots">
        <div class="dot"></div><div class="dot"></div><div class="dot"></div>
        <div class="dot current"></div>
      </div>
    </div>
    <div class="loader"></div>
  </div>
  <div class="row" id="fixer-choice">
    <div class="col-12">
      <h2 class="text-center">Top Fixers</h2>
    </div>
    <div class="col-6 offset-3">
      <div class="dots">
        <div class="dot"></div><div class="dot"></div><div class="dot"></div>
        <div class="dot current"></div>
      </div>
    </div>
    <div class="col-12">
      <% @fixers.each do |fixer| %>
        <div class="fixer-card py-4">
          <div class="fixer-avatar">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
<!--             <div class="fixer-price"><p><%#= fixer.unit_price %>&euro;<br>/h</p></div> -->
            <div class="fixer-price"><p><%= humanized_money_with_symbol(fixer.price) %><br>/h</p></div>
          </div>
          <div class="fixer-detail px-4">
            <p style="font-weight: 700;"><%= fixer.user.full_name %></p>
            <p style="font-size: 14px;">5,0 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            <p style="color: #0CD68D">available</p>
          </div>
          <div class="fixer-btn">
            <%= simple_form_for @appointment do |f| %>
              <%= f.input :fixer_id, input_html: {value: fixer.id}, as: :hidden %>
              <%= f.input :status, input_html: {value: 'pending'}, as: :hidden %>
              <%= f.submit "Select", class: 'btn btn-ghost'%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  const loader = document.getElementById("fixer-loader");
  const choice = document.getElementById("fixer-choice")
  // When the window is loaded....
  window.addEventListener("load", function() {

    setTimeout(function(){
      loader.style.display = 'none';
      choice.style.display = 'flex';
        // >> Set cookie to visited here <<
    }, 2000);
});
</script>

