<div class="container my-4">
  <div class="row">
    <% if @appointment.status == "cancelled" %>
      <div class="col-12">
        <h2>Sorry this appointment has been cancelled!</h2>
      </div>
    <% elsif @appointment.user == current_user %>
      <div class="col-12">
        <h2>All set to fix!</h2>
        <p class="text-center">Your chosen fixer is</p>
      </div>
      <div class="col-12">
        <div class="card-sq text-center">
          <div class="fixer-avatar">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@appointment.fixer.user.lewagon_username}", class: "avatar" %>
          </div>
          <div class="fixer-detail">
            <p><strong><%= @appointment.fixer.user.full_name %></strong></p>
            <p><%= @appointment.fixer.rating_avg %><% @appointment.fixer.rating_avg.round.times { %> <i class="fas fa-star"></i> <% } %></p>
          </div>
          <div class="fixer-btn">
            <%= link_to "#{@appointment.fixer.user.first_name}'s profile", fixer_details_path(@appointment.fixer), class: 'btn btn-ghost profile' %>
          </div>
        </div>
      </div>
    <% elsif @appointment.fixer.user == current_user %>
      <div class="col-12">
        <h2>Your next appointment has been confirmed!</h2>
      </div>
    <% end %>
    <div class="col-12">
      <table>
        <tr>
          <th><% if current_user == @appointment.user %><p>Your appointment with <%= @appointment.fixer.user.first_name %></p> <% else %> <p>Your appointment with <%= @appointment.user.first_name %> <% end %> </th>
        </tr>
        <tr>
          <td class="d-flex">
            <div style="flex: 0 0 30%"><p><strong>Date</strong></p></div><div style="flex: 0 0 70%"><p><% if @day <= 9 %>0<%= @day %><% else %><%= @day %><% end %>/<% if @month <= 9 %>0<%= @month %><% else %><%= @month %><% end %>/<%= @year %></p></div>
          </td>
        </tr>
        <tr>
          <td class="d-flex">
            <div style="flex: 0 0 30%"><p><strong>Time</strong></p></div><div style="flex: 0 0 70%"><p><% if @hour <= 9 %>0<%= @hour %><% else %><%= @hour %><% end %>:<% if @min <= 9 %>0<%= @min %><% else %><%= @min %><% end %></p></div>
          </td>
        </tr>
        <tr>
          <td class="d-flex"><div style="flex: 0 0 30%"><p><strong>Duration</strong></p></div><div style="flex: 0 0 70%"><p><%= @appointment.problem.duration %> <% if @appointment.problem.duration == 1 %>Hour<% elsif @appointment.problem.duration >= 2 %>Hours<% end %></p></div></td>
        </tr>
        <tr>
          <td class="d-flex"><div style="flex: 0 0 30%"><p><strong>Price</strong></p></div><div style="flex: 0 0 70%"><p><%= humanized_money_with_symbol(@appointment.amount) %></p></div></td>
        </tr>
        <tr>
          <td class="d-flex"><div style="flex: 0 0 30%"><p><strong>Location</strong></p></div><div style="flex: 0 0 70%"><p><%= @appointment.address %></p></div></td>
        </tr>
        <tr>
          <td class="d-flex"><div style="flex: 0 0 30%"><p><strong>Problem</strong></p></div><div style="flex: 0 0 70%"><p><%= @appointment.problem.content %></p></div></td>
        </tr>
        <% if (@appointment.comment != "") && (@appointment.comment != nil) %>
          <tr>
            <td class="d-flex"><div style="flex: 0 0 30%"><p><strong>Comment</strong></p></div><div style="flex: 0 0 70%"><p><%= @appointment.comment %></p></div></td>
          </tr>
        <% end %>
        <% if @appointment.photos.attached? %>
          <% @appointment.photos.each do |photo| %>
            <tr>
              <td><%= cl_image_tag photo.key, style:'width:100%; padding-left:12px; padding-right:12px;', crop: :fill %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <% if @appointment.fixer.user == current_user && @appointment.status == "confirmed" %>
        <div
          id="map"
          style="width: 100%;
          height: 300px;
          margin-bottom: 15px;"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      <% end %>
    </div>
    <div class="col-12">
      <% if @appointment.time > DateTime.now && @appointment.status == "confirmed" %>
        <% if @appointment.user == current_user %>
          <%= link_to "Chat now with #{@appointment.fixer.user.first_name}", appointment_messages_path(@appointment), class: 'btn btn-lg' %>
        <% else %>
          <%= link_to "Chat now with #{@appointment.user.first_name}", appointment_messages_path(@appointment), class: 'btn btn-lg' %>
        <% end %>
        <br>
        <%= link_to '', data: { toggle: "modal", target: "#appointmentCancelModal" } do %> <button class="btn btn-ghost mt-4" style="width: 100%;">Cancel appointment</button> <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="appointmentCancelModal" tabindex="-1" role="dialog" aria-labelledby="appointmentCancelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentCancelModalLabel">Cancel appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for [@appointment] do |f| %>
          <%= f.input :cancel_reason, label: 'Reason for cancellation', placeholder: "Tell us why you have to cancel this appointment?"%>
          <%= f.input :status, input_html: {value: 'cancelled'}, as: :hidden %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, 'Cancel appointment', class: 'btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
