<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2>All set to fix!</h2>
      <p class="text-center">Your chosen fixer is</p>
    </div>
    <div class="col-12">
      <div class="card-sq text-center">
        <div class="fixer-avatar">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@appointment.fixer.user.lewagon_username}", class: "avatar" %>
        </div>
        <div class="fixer-detail">
          <p><strong><%= @appointment.fixer.user.full_name %></strong></p>
          <p>5,0 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        <div class="fixer-btn">
          <%= link_to "#{@appointment.fixer.user.first_name}'s profile", '', class: 'btn btn-ghost profile' %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <table>
        <tr>
          <th class="text-center"><p>Your appointment with <%= @appointment.fixer.user.first_name %></p></th>
        </tr>
        <tr>
          <td><p><strong>Problem:</strong> <%= @appointment.problem.content %></p></td>
        </tr>
        <tr>
          <td>
            <p><strong>Date:</strong> <%= @day %>/<% if @month <= 9 %>0<%= @month %><% else %><%= @month %><% end %>/<%= @year %></p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Time:</strong> <%= @hour %>:<% if @min <= 9 %>0<%= @min %><% else %><%= @min %><% end %></p>
          </td>
        </tr>
        <tr>
          <td><p><strong>Duration:</strong> <%= @appointment.problem.duration %> <% if @appointment.problem.duration == 1 %>Hour<% elsif @appointment.problem.duration >= 2 %>Hours<% end %></p></td>
        </tr>
        <tr>
          <td><p><strong>Price:</strong> <%= humanized_money_with_symbol(@appointment.amount) %></p></td>
        </tr>
        <tr>
          <td><p><strong>Location:</strong> <%= @appointment.address %></p></td>
        </tr>
      </table>
      <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-marker="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div class="col-12">
      <%= link_to "Chat now with #{@appointment.fixer.user.first_name}", '', class: 'btn btn-lg' %>
      <br>
      <%= link_to '', data: { toggle: "modal", target: "#appointmentCancelModal" } do %> <button class="btn btn-ghost mt-4" style="width: 100%;">Cancel appointment</button> <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="appointmentCancelModal" tabindex="-1" role="dialog" aria-labelledby="appointmentCancelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentCancelModalLabel">Cancel appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for [@appointment] do |f| %>
          <%= f.input :cancel_reason, label: 'Reason for cancellation', placeholder: "Tell us why you have to cancel this appointment?"%>
          <%= f.input :status, input_html: {value: 'cancelled'}, as: :hidden %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, 'Cancel appointment', class: 'btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
