<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">What can we fix?</h2>
    </div>
  </div>
  <div class="category-cards">
    <% @categories.each do |category| %>
      <div class="card-vertical">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-vertical-infos">
          <div>
            <h3><%= category.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div class="form-group">
  <label class="control-label check_boxes optional">Categories</label>
  <input type="hidden" name="post[category_ids][]" value="">
  <div class="problem-choices">
    <% Category.all.each do |category| %>
      <input type="radio" style="display: none;" value="<%= category.id %>" name="post[category_ids][]" id="post_category_ids_<%= category.id %>">
      <label class="problem-choice" for="post_category_ids_<%= category.id %>">
        <%= category.name %>
      </label>
    <% end %>
   </div>
</div>

<div class="fixer-card">
  <div class="fixer-avatar">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
    <div class="fixer-price price-card"><p>22&euro;<br>/h</p></div>
  </div>
  <div class="fixer-detail">
    <h3>Sandro Marques</h3>
    <p>4,5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
    <p style="color: #0CD68D">available</p>
  </div>
  <div class="fixer-btn">
    <%= link_to 'Select', '', class: 'btn btn-ghost' %>
  </div>
</div>

<div class="dots">
  <div class="dot active">1</div>
  <div class="dot">2</div>
  <div class="dot">3</div>
  <div class="dot">4</div>
  <div class="dot">5</div>
  <div class="dot">6</div>
</div>
<div class="div" style="height: 60vh;"></div>

<!-- Start Testing appointment page-->
<div class="fixer-card-appointment">
    <div class="fixer-avatar">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
      <div class="fixer-price price-appointment"><p>22&euro;<br>/h</p></div>
    </div>
    <h3>Sandro Marques</h3>
    <p>4,5 <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
    <%= link_to 'Profile', '', class: 'btn btn-ghost-profile' %>
</div>
<br>
<div>
  <div>
    <h3>Your Appointment with Sandro</h3>
  </div>
  <div>
    <p><strong>Problem:</strong> Water leaking from faucet</p>
  </div>
  <div>
    <p><strong>Date:</strong> 13/04/2020</p>
  </div>
  <div>
    <p><strong>Time:</strong> 09h00</p>
  </div>
  <div><strong>Estimation Duration:</strong> 1 Hour</div>
</div>


<!-- End Testing appointment page-->

<script>
  const choices = document.querySelectorAll('.problem-choice');
  console.log(choices);

  choices.forEach( choice =>
    choice.addEventListener("click", (event) => {
      console.log(event);
      const active = document.querySelector('.active');
      event.currentTarget.classList.toggle('active');
      if (active !== null) {
        active.classList.remove('active');
      }
    })
  );
</script>

