<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2>My Appointments</h2>
    </div>
    <div class="col-12 mt-2">
      <ul class="list-inline tabs-underlined">
        <li>
          <p class="tab-underlined active">Upcoming (<%= @upcoming_appointments.count %>)</p>
        </li>
        <li>
          <p class="tab-underlined">Past (<%= @past_appointments.count %>)</p>
        </li>
        <li>
          <p class="tab-underlined">Cancelled (<%= @cancelled_appointments.count %>)</p>
        </li>
      </ul>
    </div>
    <div class="col-12 lists">
      <table>
        <% if @upcoming_appointments.any? %>
          <% @upcoming_appointments.each do |appointment| %>
            <tr>
              <td>
                <a href=<%= appointment_path(appointment) %>>
                  <p style="font-size: 16px;"><%= appointment.problem.category.name %> - <%= appointment.user.first_name %><br>
                    <span style="opacity: 0.7;"><em><% if appointment.time.day <= 9 %>0<%= appointment.time.day %><% else %><%= appointment.time.day %><% end %>/<% if appointment.time.month <= 9 %>0<%= appointment.time.month %><% else %><%= appointment.time.month %><% end %>/<%= appointment.time.year %> <% if appointment.time.hour <= 9 %>0<%= appointment.time.hour %><% else %><%= appointment.time.hour %><% end %>:<% if appointment.time.min <= 9 %>0<%= appointment.time.min %><% else %><%= appointment.time.min %><% end %></em></span>
                  </p>
                </a>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td><p style="color: #04316C; opacity: 0.7;">No upcoming appointment</p></td></tr>
        <% end %>
      </table>
    </div>
    <div class="col-12 lists" style="display: none;">
      <table>
        <% if @past_appointments.any? %>
          <% @past_appointments.each do |appointment| %>
            <tr>
              <td>
                <a href=<%= appointment_path(appointment) %>>
                  <p style="font-size: 16px;"><%= appointment.problem.category.name %> - <%= appointment.user.first_name %><br>
                    <span style="opacity: 0.7;"><em><% if appointment.time.day <= 9 %>0<%= appointment.time.day %><% else %><%= appointment.time.day %><% end %>/<% if appointment.time.month <= 9 %>0<%= appointment.time.month %><% else %><%= appointment.time.month %><% end %>/<%= appointment.time.year %> <% if appointment.time.hour <= 9 %>0<%= appointment.time.hour %><% else %><%= appointment.time.hour %><% end %>:<% if appointment.time.min <= 9 %>0<%= appointment.time.min %><% else %><%= appointment.time.min %><% end %></em></span>
                  </p>
                </a>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td><p style="color: #04316C; opacity: 0.7;">No past appointment</p></td></tr>
        <% end %>
      </table>
    </div>
    <div class="col-12 lists" style="display: none;">
      <table>
        <% if @cancelled_appointments.any? %>
          <% @cancelled_appointments.each do |appointment| %>
            <tr>
              <td>
                <a href=<%= appointment_path(appointment) %>>
                  <p style="font-size: 16px;"><%= appointment.problem.category.name %> - <%= appointment.user.first_name %><br>
                    <span style="opacity: 0.7;"><em><% if appointment.time.day <= 9 %>0<%= appointment.time.day %><% else %><%= appointment.time.day %><% end %>/<% if appointment.time.month <= 9 %>0<%= appointment.time.month %><% else %><%= appointment.time.month %><% end %>/<%= appointment.time.year %> <% if appointment.time.hour <= 9 %>0<%= appointment.time.hour %><% else %><%= appointment.time.hour %><% end %>:<% if appointment.time.min <= 9 %>0<%= appointment.time.min %><% else %><%= appointment.time.min %><% end %></em></span>
                  </p>
                </a>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr><td><p style="color: #04316C; opacity: 0.7;">No cancelled appointment</p></td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<script>
  const tabs = document.querySelectorAll('.tab-underlined')
  const lists = document.querySelectorAll('.lists')
  const entries = function*(iterable) {
    let i = 0;
    for (item of iterable) {
      yield [i++, item]
    }
  }
  const showBlock = index => {
    for (const [blockIndex, block] of entries(lists)) {
      block.style.display = blockIndex === index ? 'block' : 'none'
    }
  }
  showBlock(0)
  for (const [tabIndex, tab] of entries(tabs)) {
    tab.addEventListener('click', ev => {
      ev.preventDefault()
      showBlock(tabIndex)
      const active = document.querySelector('.active');
      event.currentTarget.classList.toggle('active');
      if (active !== null) {
        active.classList.remove('active');
      }
    })
  }
</script>
