<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <% if @fixer == current_user %>
        <h2>My details</h2>
        <%= link_to 'Edit', edit_fixer_path(@fixer), class: 'btn btn-ghost' %>
      <% else %>
        <h2><%= @fixer.user.full_name %>'s details</h2>
      <% end %>
      <table>
        <tr>
          <th class="text-center"><p>Working hours</p></th>
        </tr>
        <tr>
          <td class="text-center"><p><%= @starting_hour %> to <%= @ending_hour %></p></td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="text-center"><p>Rates per hour</p></th>
        </tr>
        <tr>
          <td class="text-center"><p><%= humanized_money_with_symbol(@fixer.price) %></p></td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="text-center"><p>Specialities</p></th>
        </tr>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <div class="d-flex justify-content-between" style="background: #EAEAEA;"><p><strong><%= category.name %></strong></p><button style="color: #04316C;" id="<%= category.name.downcase.gsub(/\s+/, "") %>-btn"><i class="fas fa-plus"></i></button></div>
              <ul style="display: none;" id=<%= category.name.downcase.gsub(/\s+/, "") %>>
                <% @specialities.each do |speciality| %>
                  <% if speciality.problem.category == category %>
                    <li data-speciality-id="<%= speciality.id %>" class="d-flex justify-content-between"><p><%= speciality.problem.content %></p> <div><%= link_to "Remove", speciality_path(speciality), class: 'btn btn-ghost', method: :delete , remote: true , data: { confirm: "Are you sure to delete this speciality?"} %></div> </li>
                  <% end %>
                <% end %>
              </ul>
            </td>
          </tr>
          <script>
            const <%= category.name.downcase.gsub(/\s+/, "") %>btn = document.getElementById('<%= category.name.downcase.gsub(/\s+/, "") %>-btn');
            <%= category.name.downcase.gsub(/\s+/, "") %>btn.addEventListener("click", (event) => {
              <%= category.name.downcase.gsub(/\s+/, "") %>list = document.getElementById('<%= category.name.downcase.gsub(/\s+/, "") %>');
              <%= category.name.downcase.gsub(/\s+/, "") %>list.classList.toggle('active');
              if (event.currentTarget.innerHTML === '<i class="fas fa-plus"></i>') {
                event.currentTarget.innerHTML = '<i class="fas fa-minus"></i>';
              } else {
                event.currentTarget.innerHTML = '<i class="fas fa-plus"></i>';
              }
            });
          </script>
        <% end %>
      </table>
      <% if @fixer.user == current_user %>
        <%= link_to '', data: { toggle: "modal", target: "#specialityModal" } do %> <div class="btn btn-lg">Add a speciality</div> <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="specialityModal" tabindex="-1" role="dialog" aria-labelledby="specialityModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="specialityModalLabel">Add a speciality</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for([@fixer, @speciality]) do |f| %>
          <%= f.input :problem_id, collection: @categories, as: :grouped_select, group_method: :problems, :label_method => :content, :value_method => :id, label: "Choose a speciality", prompt: "Choose a problem you can fix" %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, "Add a speciality", class: 'btn-lg mt-4'%>
        <% end %>
      </div>
    </div>
  </div>
</div>

