<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <% if @fixer.user == current_user %>
        <h2>My details</h2>
        <div class="col-4 offset-4 text-center"><%= link_to 'Edit', edit_fixer_path(@fixer), class: 'btn btn-ghost' %></div>
      <% else %>
        <h2><%= @fixer.user.full_name %>'s details</h2>
      <% end %>
      <table>
        <tr>
          <th><p>Rates per hour</p></th>
        </tr>
        <tr>
          <td class="text-center"><p><%= humanized_money_with_symbol(@fixer.price) %></p></td>
        </tr>
      </table>
      <table>
        <tr>
          <th><p>Working hours</p></th>
        </tr>
        <tr>
          <td class="text-center"><p><%= @starting_hour %> to <%= @ending_hour %></p></td>
        </tr>
      </table>
      <table>
        <tr>
          <th><p>Reviews<% if @fixer.reviews.any? %> (<%= @fixer.reviews.count %>)<% end %></p></th>
        </tr>
        <% if @fixer.reviews.any? %>
          <% @fixer.reviews.reverse.first(2).each do |review| %>
            <tr>
              <% if review.appointment.user == current_user %>
                <td data-review-id="<%= review.id %>" class="d-flex m-1"><div style="margin-top: 4px; flex: 0 0 25%;"><% review.rating.times { %> <i class="fas fa-star"></i> <% } %></div> <p style="font-size: 16px; flex: 1 0 30%;"><%= review.content %></p>
                    <div style="flex: 0 0 20%;"><%= link_to "Delete", review_path(review), class: 'btn btn-ghost px-1', method: :delete, remote: true, data: { confirm: "Are you sure to delete this review?"} %></div>
                </td>
              <% else %>
                <td data-review-id="<%= review.id %>" class="d-flex m-1"><div style="margin-top: 4px; flex: 0 0 25%;"><% review.rating.times { %> <i class="fas fa-star"></i> <% } %></div> <p style="font-size: 16px; flex: 1 0 30%;"><%= review.content %></p></td>
              <% end %>
            </tr>
          <% end %>
          <% @fixer.reviews.reverse.drop(2).each do |review| %>
            <tr class="hidden-review" style="display: none;">
              <% if review.appointment.user == current_user %>
                <td data-review-id="<%= review.id %>" class="d-flex m-1"><div style="margin-top: 4px; flex: 0 0 25%;"><% review.rating.times { %> <i class="fas fa-star"></i> <% } %></div> <p style="font-size: 16px; flex: 1 0 30%;"><%= review.content %></p>
                    <div style="flex: 0 0 20%;"><%= link_to "Delete", review_path(review), class: 'btn btn-ghost px-1', method: :delete, remote: true, data: { confirm: "Are you sure to delete this review?"} %></div>
                </td>
              <% else %>
                <td data-review-id="<%= review.id %>" class="d-flex m-1"><div style="margin-top: 4px; flex: 0 0 25%;"><% review.rating.times { %> <i class="fas fa-star"></i> <% } %></div> <p style="font-size: 16px; flex: 1 0 30%;"><%= review.content %></p></td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td class="d-flex justify-content-center"><button id="more" style="color: #04316C;">See more</button></td>
          </tr>
        <% else %>
          <tr>
            <td><p class="text-center">No review yet!</p></td>
          </tr>
        <% end %>
      </table>
      <table>
        <tr>
          <th><p>Specialities</p></th>
        </tr>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <div class="d-flex justify-content-between" style="background: #EAEAEA;"><p><strong><%= category.name %></strong></p><button style="color: #04316C;" id="<%= category.name.downcase.gsub(/\s+/, "") %>-btn"><i class="fas fa-plus"></i></button></div>
              <ul style="display: none;" id=<%= category.name.downcase.gsub(/\s+/, "") %>>
                <% @specialities.each do |speciality| %>
                  <% if speciality.problem.category == category %>
                    <li data-speciality-id="<%= speciality.id %>" class="d-flex justify-content-between"><p><%= speciality.problem.content %></p>
                      <% if speciality.fixer.user == current_user %>
                        <div><%= link_to "Remove", speciality_path(speciality), class: 'btn btn-ghost mt-1', method: :delete, remote: true, data: { confirm: "Are you sure to delete this speciality?"} %></div>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </td>
          </tr>
          <script>
            const <%= category.name.downcase.gsub(/\s+/, "") %>btn = document.getElementById('<%= category.name.downcase.gsub(/\s+/, "") %>-btn');
            <%= category.name.downcase.gsub(/\s+/, "") %>btn.addEventListener("click", (event) => {
              <%= category.name.downcase.gsub(/\s+/, "") %>list = document.getElementById('<%= category.name.downcase.gsub(/\s+/, "") %>');
              <%= category.name.downcase.gsub(/\s+/, "") %>list.classList.toggle('active');
              if (event.currentTarget.innerHTML === '<i class="fas fa-plus"></i>') {
                event.currentTarget.innerHTML = '<i class="fas fa-minus"></i>';
              } else {
                event.currentTarget.innerHTML = '<i class="fas fa-plus"></i>';
              }
            });
          </script>
        <% end %>
      </table>
      <% if @fixer.user == current_user %>
        <%= link_to '', data: { toggle: "modal", target: "#specialityModal" } do %> <div class="btn btn-lg">Add a speciality</div> <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="specialityModal" tabindex="-1" role="dialog" aria-labelledby="specialityModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="specialityModalLabel">Add a speciality</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <%= simple_form_for([@fixer, @speciality]) do |f| %>
          <%= f.input :problem_id, collection: @categories, as: :grouped_select, group_method: :problems, :label_method => :content, :value_method => :id, label: "Choose a speciality", prompt: "Choose a problem you can fix" %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, "Add a speciality", class: 'btn-lg mt-4'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  const moreBtn = document.getElementById('more');
  console.log(moreBtn);
  moreBtn.addEventListener('click', event => {
    console.log(event.currentTarget.innerText);
    if (event.currentTarget.innerText === "See less") {
      event.currentTarget.innerText = "See more"
    } else {
      event.currentTarget.innerText = "See less";
    }
    const hiddenReviews = document.querySelectorAll('.hidden-review');
    for (let i of hiddenReviews) {
      if (i.style.display === "none") {
        i.style.display = "table-row";
      } else {
        i.style.display = "none";
      }
    }

  })

</script>
