<div class="container my-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Become a fixer</h2>
      <%= simple_form_for([@user, @fixer]) do |f| %>
        <%= f.input :start_time, as: :string, input_html: {class: "timepicker"} %>
        <%= f.input :end_time, as: :string, input_html: {class: "timepicker"} %>
        <%= f.input :unit_price, as: :integer, default: 10 %>
        <%= f.button :submit, "Become a fixer", class: 'btn-lg mt-4'%>
      <% end %>
    </div>
  </div>
</div>



